source https://www.nuget.org/api/v2

nuget FSharp.Core ~> 3.0
nuget Fake
nuget FSharpx.TypeProviders.Xaml
nuget FSPowerPack.Linq.Community

group WPF
    source https://www.nuget.org/api/v2

    nuget Caliburn.Micro
    nuget MahApps.Metro

group Tests
    source https://www.nuget.org/api/v2

    nuget xunit ~> 1.0
    nuget FsUnit.xUnit
    nuget xunit.extensions
    nuget xunit.runners ~> 1.9
    nuget xunit.runner.visualstudio
